@import 'main.css';
body {
    background: var(--primario-oscuro);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primario-oscuro);
    
}

.box {
    background: var(--primario-claro);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    font-size: 26px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 100;
    color: var(--neutro-900);
}

input, select {
    flex: 1;                  
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    min-width: 0;
    color: var(--neutro-900);
    box-shadow: inset;
}
input:hover, select:hover{
    border-color: var(--primario);
    outline-color: var(--border-focus);
    outline-style:solid;
}
input:focus, select:focus{
    border-color: var(--primario);
    outline-color: var(--border-focus);
    outline-style:solid;
}

.btnAceptar {
    border: none;
    outline: none;
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: var(--primario-claro);
    color: var(--blanco);
    font-size: 16px;
    cursor: pointer;
}

.btnAceptar:hover {
    background: var(--primario-oscuro);
}

.back{
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    background: var(--primario-claro);
    color: var(--blanco);
}
.back:hover{
    background: var(--primario-oscuro) ;
}