/*importar Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*para quitar formatos a ciertos elementos*/
.solo{
    text-decoration: none;

}
/* Paleta de colores */
:root {
    --primario:        #0F52BA;
    --primario-oscuro:   #0A3D8F;
    --primario-claro:  #1E6FE0;
    --primario-alternativo: #290fba;
    --primario-50:    #EEF4FF;
    --primario-100:   #D6E4FF;
    --primario-200:   #ADC8FF;
        
    --neutro-900:    #0F172A;
    --neutro-800:    #1E293B;
    --neutro-700:    #334155;
    --neutro-500:    #64748B;
    --neutro-300:    #CBD5E1;
    --neutro-100:    #F1F5F9;
    --blanco:          #FFFFFF;
    --bg-app:         #F8FAFC;
        
    --error:          #DC2626;
    --warning:          #f85555;
    --error-bg:       #FEF2F2;
    --success:        #16A34A;
    --success-bg:     #F0FDF4;
        
    --border:         #E2E8F0;
    --border-focus:   #0F52BA;
    --sombra-sm:      0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --sombra-md:      0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --sombra-card:    0 10px 25px -5px rgba(15, 82, 186, 0.05), 0 8px 16px -6px rgba(15, 82, 186, 0.05);
        
    --radius-sm:      8px;
    --radius-md:      12px;
    --radius-lg:      16px;
    --radius-xl:      24px;

}


/* ===== Estilos generales ===== */
body {
    background: var(--primario-claro);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 10px 0 0 0;
}

header h1 {
    color: var(--blanco);
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primario-50);
    width: 100%;
}

footer {
    padding: 1.5vh;
    color: var(--blanco);
}

.boton {
    margin-top: 15px;
    padding: 0.5rem 1rem;
    background: var(--primario-claro);
    color: var(--blanco);
    transition: all 0.3s ease;
    text-decoration: none;
    border-radius: 20px;
}
.boton:hover {
    background: var(--primario-alternativo);
    color: var(--success-bg);
    transform: translateY(-2px);
}
.inactive { display: none; }
