:root{
    --color-primary:#0c164d;
    --color-primary-transparent:#3a66bef2;
    --color-secondary:#48afce;
    --color-button:#4274D9;
    --color-button-hover:#0850b4;
    --color-item:#000000;
    --color-item-hover:#061a77f2;
    --color-text-white:aliceblue;
    --color-text-black:black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--color-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
    
}

.box {
    background: var(--color-secondary);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    font-size: 26px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 100;
    font-style: var(--color-item);
    color: var(--color-text-black);
}

input, select {
    flex: 1;                  
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    min-width: 0;
    color: var(--color-text-black);
    box-shadow: inset;
}
input:hover, select:hover{
    border-color: var(--color-item);
    outline-color: var(--color-primary-transparent);
    outline-style:solid;
}
input:focus, select:focus{
    border-color: var(--color-item);
    outline-color: var(--color-primary-transparent);
    outline-style:solid;
}

.btnAceptar {
    border: none;
    outline: none;
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: var(--color-button);
    color: var(--color-text-white);
    font-size: 16px;
    cursor: pointer;
}

.btnAceptar:hover {
    background: var(--color-button-hover);
}

.back{
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    background: var(--color-button-hover);
    color: var(--color-text-white);
}
.back:hover{
    background: var(--color-button-hover) ;
}