* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #007BFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 1rem 2rem;
}

header h1 {
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

/* Navegación principal */
.menu {
    width: 100%;
    padding: 10px 20px;
    min-width: 200px; 
    flex: 1;
}
.menu .item {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}
.item{
    font-size: 20px;
    color:aliceblue;
    padding: 0;           
    margin: 0;
    font-weight: 700;
}

a.item:hover{
    background-color: #061a77f2;
    color:aliceblue;
    transform: scale(1.1);
    transition: 0.3s;
    border-radius: 3px;
}

.boton {
    background: #089ab4;
    color: white;
    transition: all 0.3s ease;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.5rem 0.5rem;
}
.boton:hover {
    background: #0850b4;
    color: white;
    transform: translateY(-2px);
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f0f2f5;
    
}

/* el menu de hamburguesa por defecto esta desactivado */
.burgerMenu{
    display: none;
    color: rgb(19, 20, 13);
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

/* menu de amburguesa para las pantallas mas pequeñas*/
@media (max-width: 768px) {
    .burgerMenu{
        display: flex;
        width: 50px;
        height: 50px;
        z-index: 100;
        align-items: center;
    }
    .menu{
        display: none;
    }
    .menu.active{
        display: flex;
        flex-direction: column;
        position:absolute;
        top: 15%;
        left: 0;
        width: auto;
        /* semi-transparente */
        background: #007BFFf2; 
        box-shadow: 2px 0 8px #000000f2;
        z-index: 10;
    }
    .burgerMenu:hover{
        color:aliceblue;
        transition: 0.3s;
        background: #034183;
    }
    header{
        padding-bottom: 40px;
    }
}
